<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokémon Generator</title>
</head>

<style>
    * {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<body>
    <p>Hi! Welcome to</p>
    <h1>Pokémon Generator</h1>

    <p>To generate a random collection, select <a href="/build">Build</a></p>
    <p>To lookup a collection, select <a href="/lookup">Lookup</a></p>
    <p>To delete a collection, select <a href="/delete">Delete</a></p>
</body>

</html>