<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lookup Collection</title>
</head>

<style>
    * {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<body>
    <h1>Lookup a Collection</h1>
    <form action="/processLookup" method="post">
        <label for="email">Email: </label><input id="email" name="email"><br><br>
        <input type="submit">
        <input type="reset">
    </form>
    <br>
    <p><a href="/">Home</a></p>
</body>

</html>