<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lookup Collection</title>
</head>

<style>
    * {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        border: 1rem solid skyblue;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body>
    <h1>Lookup a Collection</h1>
    <%- table %>
    <br><a href="/">Home</a>
</body>

</html>