<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Build Collection</title>
</head>

<style>
    * {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        border: 1rem solid skyblue;
        margin-left: auto; 
        margin-right: auto;
    }
</style>

<body>
    <h1>Build a Collection</h1>
    <p>You got: </p>
    <%- table %>
    <p>Your collection was added to the database!</p>
    <a href="/">Home</a>
</body>

</html>