body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/643f3eb8899c637bf02fe288/dca7768a-9215-4bd6-8ac3-dc3d2ee86d6d/iStock-517671981.jpg');
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 4rem;
}

h1, p, div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#padding {
    padding: 4rem;
}

iframe {
    border: none;
}

iframe.flying {
    text-align: center;
    pointer-events: none;
}

#inline h1, #inline h2 {
    display: inline
}

table {
    --table-color-1: rgba(213, 176, 198, 0.5);
    --table-color-2: rgba(167, 171, 202, 0.5);
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid black;
    border-collapse: collapse;
}

td {
    border: 0.1rem solid black;
}

tr:nth-child(odd) {
    background-color: var(--table-color-1);
}

tr:nth-child(even), thead {
    background-color: var(--table-color-2);
}

td {
    padding: 1.5rem;
}

img.rounded {
    border-radius: 10rem;
}

img {
    height: 15rem;
}

a:link {
    text-decoration: none;
    color: #86A6CD;
}

a:visited {
    text-decoration: none;
    color: #AE94B6;
}

a:hover {
    text-decoration: underline;
}
